<template>
  <div id="Add-planet">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-1">Add a planet!</h1>
      </div>
      <div class="row">
        <div v-if="showErrorMessage" class="alert alert-danger" role="alert">
        Something went wrong. Try again later...
        </div>
        <div v-if="showForm" class="col-6">
          <form v-on:submit.prevent="onSubmitSuccess" v-on:change="onToggleShowPreview">
            <div class="form-group">
              <label for="Name">Name of planet</label>
              <input v-model="planetName" type="text" class="form-control" id="planetName" placeholder="Enter name (Mars)" required/>
            </div>
            <div class="form-group">
              <label for="planetSize">Size of planet</label>
              <input v-model="planetSize" type="number" class="form-control" id="planetSize" placeholder="Enter size (123456)" required/>
            </div>
            <div class="form-group">
              <label for="dateDiscovered">Date of discovery</label>
              <input v-model="dateDiscovered" type="date" class="form-control" id="dateDiscovered" placeholder="Enter date (YYYY-MM-DD)" required/>
            </div>
            <div class="form-group">
              <label for="imageUrl">URL of image</label>
              <input v-model="imgUrl" type="text" class="form-control" id="imageUrl" placeholder="Enter URL (https://wwww.img.com/img.png)"/>
            </div>
            <button v-on:click="onSubmitForm" type="submit" class="btn btn-success">Add Planet</button>
            <div v-if="showError" class="alert alert-warning" role="alert">Please fill in all of the required fields!</div>
          </form>
        </div>
        <div v-if="showPreview" class="col-6" id="previewCard">
          <div class="card">
            <img class="card-img-top" :src="(this.imgUrl === '' ? './planet_placeholder.png' : this.imgUrl)" alt />
            <div class="card-body">
              <h3 class="card-title text-center">{{planetName}}</h3>
              <hr />
              <p class="card-text">
                Size: <b>{{planetSize}}</b>
                <br />
                Date Discovered: <b>{{dateDiscovered}}</b>
              </p>
            </div>
            <div v-if="showSuccess" class="card-footer">
              <div class="alert alert-success" role="alert">
                You have successfully added this planet!
              </div>
            </div>
          </div>
        </div>
        <div v-if="showSuccess" class="col-6">
          <button v-on:click="onAddMore" id="addMoreBtn" type="button" class="btn btn-success">ADD MOOOORE!!!11</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import router from '../routes';

export default {
  name: "AddPlanetPage",

  data() {
    return {
      planetName: '',
      planetSize: '',
      dateDiscovered: '',
      imgUrl: '',
      showPreview: false,
      showError: false,
      showSuccess: false,
      showForm: true,
      showErrorMessage: false,
      apiKey: '',
    };
  },

  created: function() {
    this.apiKey = this.$route.params.apiKey;
  },

  methods: {
    onToggleShowPreview() {
      this.showPreview = true;
    },
    onToggleShowError() {
      this.showError = true;
    },
    onSubmitSuccess() {
      this.showForm = false;
      this.showSuccess = true;
    },
    onAddMore() {
      this.showSuccess = false;
      this.showForm = true;
      this.planetName = '';
      this.planetSize = '';
      this.dateDiscovered = '';
      this.imgUrl = '';
      this.showPreview = false;
    },

    async onSubmitForm() {
      if (
        this.planetName === "" ||
        this.planetSize === "" ||
        this.dateDiscovered === ""
      ) {
        this.onToggleShowError();
      } else {

        let config = {
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + this.apiKey
          }
        }

        let data = {
          name: this.planetName,
          size: this.planetSize,
          date_discovered: this.dateDiscovered,
          image: this.imgUrl
        }

        try {
          const resp = await axios
            .post("https://infinite-anchorage-90661.herokuapp.com/api/v1/planets/add", data, config)
            .then(resp => resp.data);

        } catch (error) {
          console.error(error);
          this.showErrorMessage = true;
        }
      }
    }
  }
};
</script>

<style>
#Add-planet {
  max-width: 1000px;
  width: 100%;
  margin: 25px auto;
}

.card-img-top {
  width: 100%;
  height: 19vw;
  object-fit: cover;
}

.alert-warning {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3em;
}

.alert-success {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3em;
  padding-left: 0;
}

#addMoreBtn {
  margin-top: 100px;
  background: url(https://media0.giphy.com/media/kGbZIHXp6852M/giphy.gif?cid=790b7611fbec9657760f07629adda10df8a379fe31463a3f&rid=giphy.gif);
  background-repeat:no-repeat;
  background-size: cover;
  color: black;
  font-size: 3em;
  font-weight: 700;
  border: 2px solid green;
}

</style>