<template>
  <div id="delete-planet">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-2">Delete a planet</h1>
      </div>
      <div class="row justify-content-center">
        <div class="dropdown">
            <button
            class="btn btn-secondary btn-lg dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            Choose a planet...
            </button>
            <div id="dropdownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a v-on:click="onPickPlanet(planet.name)" v-for="planet in planets" :key="planet.id" class="dropdown-item">{{planet.name}}</a>
            </div>
        </div>
      </div>
      <div v-if="showPreview" class="row justify-content-center">
        <div class="card">
            <img class="card-img-top" :src="imgUrl"/>
            <div class="card-body">
                <h3 class="card-title text-center">{{this.planetName}}</h3>
                <hr>
                <p class="card-text">Size: <b>{{this.planetSize}}</b> <br> Date Discovered: <b>{{this.dateDiscovered}}</b></p>
            </div>
            <div class="card-footer text-center">
                <button v-on:click="onDeletePlanet" class="btn btn-danger">Delete planet</button>
            </div>
        </div>
      </div>
      <div v-if="showSuccess" class="alert alert-success" role="alert">
          You have successfully deleted a planet!
      </div>
      <div v-if="showError" class="alert alert-danger" role="alert">
        Something went wrong. Try again later...
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import router from "../routes";

export default {
  name: "DeletePlanetPage",
  data() {
    return {
      planets: [],
      apiKey: "",
      planetName: '',
      planetSize: '',
      dateDiscovered: '',
      imgUrl: '',
      showPreview: false,
      showSuccess: false,
      showError: false
    };
  },
  created: async function() {
    try {
      this.apiKey = this.$route.params.apiKey;
      let config = {
        headers: {
          "Contetn-Type": "application/json",
          Authorization: "Bearer " + this.apiKey
        }
      };
      const resp = await axios
        .get("https://infinite-anchorage-90661.herokuapp.com/api/v1/planets", config)
        .then(resp => resp.data);
      this.planets = resp;
    } catch (error) {
      console.error(error);
      this.showError = true;
    }
  },
  methods: {
     onPickPlanet(planetName) {
         this.showSuccess = false;
        this.showPreview = true;
        this.planetName = planetName;
        for(var i in this.planets) {
            if(this.planets[i].name === planetName){
                this.planetSize = this.planets[i].size;
                this.dateDiscovered = this.planets[i].date_discovered;
                if(this.planets[i].image === '') {
                    this.imgUrl = './planet_placeholder.png';
                } else {
                    this.imgUrl = this.planets[i].image;
                }
            }
        }
      },
      deleteDropdownItem() {
        let dropdownItem = document.getElementsByClassName("dropdown-item");
        for(var i = 0; i < dropdownItem.length; i++) {
            if(dropdownItem[i].text == this.planetName) {
                dropdownItem[i].remove();
            }
        }
      },

      async onDeletePlanet() {

          let config = {
              headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + this.apiKey
              }
          };

          try {

              const resp = await axios
                .delete("https://infinite-anchorage-90661.herokuapp.com/api/v1/planets/delete?name="+this.planetName, config)
                .then(resp => resp.data);

              this.showPreview = false;
              this.showSuccess = true;
              this.deleteDropdownItem();
              
          } catch (error) {
              console.error(error);
              this.showError = true;
          }
      }
  }
};
</script>

<style>
#delete-planet {
  max-width: 1000px;
  width: 100%;
  margin: 25px auto;
}

.card {
  max-width: 300px;
  width: 100%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.card-img-top {
  width: 100%;
  height: 19vw;
  object-fit: cover;
}
</style>