<template>
  <div id="update-planet">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-2">Update a planet</h1>
      </div>
      <div class="row justify-content-center">
        <div class="dropdown">
            <button
            class="btn btn-secondary btn-lg dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Choose a planet...</button>
            <div id="dropdownMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a v-on:click="onPickPlanet(planet.name)" v-for="planet in planets" :key="planet.id" class="dropdown-item">{{planet.name}}</a>
            </div>
        </div>
      </div>
      <div v-if="showUpdateForm" class="row justify-content-center">
          <div class="col-9">
            <form>
            <div class="form-group">
              <label for="Name">Edit name</label>
              <input
                v-model="planetName"
                type="text"
                class="form-control"
                id="planetName"
                placeholder="Enter name (Mars)"
                required
              />
            </div>
            <div class="form-group">
              <label for="planetSize">Edit size</label>
              <input
                v-model="planetSize"
                type="number"
                class="form-control"
                id="planetSize"
                placeholder="Enter size (123456)"
                required
              />
            </div>
            <div class="form-group">
              <label for="dateDiscovered">Edit date</label>
              <input
                v-model="dateDiscovered"
                type="date"
                class="form-control"
                id="dateDiscovered"
                placeholder="Enter date (YYYY-MM-DD)"
                required
              />
            </div>
            <div class="form-group">
              <label for="imageUrl">Edit image URL</label>
              <input
                v-model="imgUrl"
                type="text"
                class="form-control"
                id="imageUrl"
                placeholder="Enter URL (https://wwww.img.com/img.png)"
              />
            </div>
          </form>
          </div>
          
      </div>
      <div v-if="showPreview" class="row justify-content-center">
        <div class="card">
            <img class="card-img-top" :src="(this.imgUrl === '' ? './planet_placeholder.png' : this.imgUrl)"/>
            <div class="card-body">
                <h3 class="card-title text-center">{{this.planetName}}</h3>
                <hr>
                <p class="card-text">Size: <b>{{this.planetSize}}</b> <br> Date Discovered: <b>{{this.dateDiscovered}}</b></p>
            </div>
            <div class="card-footer text-center">
                  <button v-on:click="onUpdatePlanet" class="btn btn-success">Update planet</button>
            </div>
        </div>
      </div>
        <div v-if="showSuccess"
              class="alert alert-success"
              role="alert"
            >You have successfully updated a planet!</div>
        <div v-if="showError"
            class="alert alert-danger"
            role="alert"
            >Something went wrong. Try again later...</div>
        </div>
      </div>
</template>

<script>
import axios from 'axios';
import router from '../routes';

export default {
  name: 'UpdatePlanetPage',
  data() {
    return {
      planets: [],
      apiKey: '',
      planetId: '',
      planetName: '',
      planetSize: '',
      dateDiscovered: '',
      imgUrl: '',
      oldPlanetName: '',
      showUpdateForm: false,
      showPreview: false,
      showSuccess: false,
      showError: false
    };
  },
  created: async function() {
    try {
      this.apiKey = this.$route.params.apiKey;
      let config = {
        headers: {
          "Contetn-Type": "application/json",
          Authorization: "Bearer " + this.apiKey
        }
      };
      const resp = await axios
        .get("https://infinite-anchorage-90661.herokuapp.com/api/v1/planets", config)
        .then(resp => resp.data);
      this.planets = resp;
    } catch (error) {
      console.error(error);
      this.showError = true;
    }
  },
  methods: {

     onPickPlanet(planetName) {
        this.showSuccess = false;
        this.showUpdateForm = true;
        this.showPreview = true;
        this.planetName = planetName;
        this.oldPlanetName = planetName;
        for(var i in this.planets) { 
            if(this.planets[i].name === planetName){
                this.planetId = this.planets[i].id;
                this.planetSize = this.planets[i].size;
                this.dateDiscovered = this.planets[i].date_discovered;
                this.imgUrl = this.planets[i].image;
            }
        }
      },

      onUpdateDropdownItem() {
        let dropdownItem = document.getElementsByClassName("dropdown-item");
        for(var i = 0; i < dropdownItem.length; i++) {
            if(dropdownItem[i].text == this.oldPlanetName) {
                dropdownItem[i].text = this.planetName;
                for(var j in this.planets) {
                    if(this.planets[j].name === this.oldPlanetName) {
                        this.planets[j].name = this.planetName;
                        this.planets[j].size = this.planetSize;
                        this.planets[j].date_discovered = this.dateDiscovered;
                        this.planets[j].image = this.imgUrl;
                    }
                }
            }
        }
      },

      async onUpdatePlanet() {

          let config = {
              headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + this.apiKey
              }
          }

          let data = {
            id: this.planetId,
            name: this.planetName,
            size: this.planetSize,
            date_discovered: this.dateDiscovered,
            image: this.imgUrl
          }

          try {

              const resp = await axios
                .put("https://infinite-anchorage-90661.herokuapp.com/api/v1/planets/update", data, config)
                .then(resp => resp.data);

              this.onUpdateDropdownItem();
              this.showPreview = false;
              this.showSuccess = true;
              this.planetName = '';
              this.planetSize = '';
              this.dateDiscovered = '';
              this.imgUrl = '';

          } catch (error) {
              console.error(error);
              this.showError = true;
           }
      }
  }
};
</script>

<style>
#update-planet {
  max-width: 1000px;
  width: 100%;
  margin: 25px auto;
}

.card {
  max-width: 300px;
  width: 100%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.card-img-top {
  width: 100%;
  height: 19vw;
  object-fit: cover;
}
</style>