<template>
    <div id="view-all-page">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="display-2">The Universe</h1>
            </div>

            <div v-if="planets.length <= 0" id="loading" class="row justify-content-center">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div v-for="planet in planets" :key="planet.id" class="card">
                <img :src="(planet.image === '' ? './planet_placeholder.png' : planet.image)" class="card-img-top"/>
                <div class="card-body">
                    <h3 class="card-title text-center">{{ planet.name }}</h3>
                    <hr>
                    <p class="card-text">
                        Size: <b>{{ planet.size }}</b>
                        <br>
                        Date Discovered: <b>{{ planet.date_discovered }}</b>
                    </p>
                </div>
            </div>
            <div v-if="showError" class="alert alert-danger text-center" role="alert">
                Something went wrong. Try again later...
            </div>
        </div>
    </div>
</template>

<script>
 import axios from 'axios';
 import router from '../routes';

export default {
    name: 'ViewAllPage',

    data () {
        return {
            planets: [],
            apiKey: '',
            showError: false
        }
    },
    

    created: async function () {
        try {
            
            this.apiKey = this.$route.params.apiKey;
            let config = {
                headers: {
                    'Contetn-Type': 'application/json',
                    'Authorization': 'Bearer ' + this.apiKey
                }
            };
            const resp = await axios
                .get('https://infinite-anchorage-90661.herokuapp.com/api/v1/planets', config)
                .then(resp => resp.data);
                this.planets = resp;
                
        } catch (error) {
            this.showError = true;
            console.error(error);
        }
    }
}
</script>

<style>
  #view-all-page {
    max-width: 1000px;
    width: 100%;
    margin: 25px auto;
  }

  .card {
      max-width: 300px;
      width: 100%;
      display: inline-block;
      margin-left: 20px;
      margin-top: 20px;
  }

  .card-img-top {
      width: 100%;
      height: 19vw;
      object-fit: cover;
  }
  .spinner-grow{
      height: 8em;
      width: 8em;
  }

  #loading {
      padding-top: 10%;
  }

</style>