<template>
    <div id="welcome-page">
        <div class="container">
            <h1 class="display-4 text-center">Welcome to the</h1>
            <h1 class="display-1 text-center">Planet-API</h1>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Are you ready to make and explore your own universe?
                </p>
                <hr>
                <p class="lead text-center">
                    Head over to "<i class="fa fa-plus-circle" aria-hidden="true"></i> <b> Add</b>" to start constructing your own planets.
                    Remember - You can always "<i class="fa fa-minus-circle" aria-hidden="true"></i> <b> Delete</b>" or "<i class="fa fa-wrench" aria-hidden="true"></i> <b> Update</b>"
                    your planet if you're not satisfied! Finally you can view all of your glorious planets at "<i class="fa fa-eye" aria-hidden="true"></i> <b> View All</b>".
                </p>
                <h5 class="text-center">Have fun!</h5>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'WelcomePage'
}
</script>

<style>
 #welcome-page {
     max-width: 1000px;
     width: 100%;
     margin: 25px auto;
 }

 .display-1.text-center {
     font-family: 'Poiret One', cursive;
 }
 
 #apiButton {
     margin-bottom: 16px;
 }

</style>