<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/">
        <a class="navbar-brand">
          <i class="fa fa-globe" aria-hidden="true"></i>
          Planets
        </a>
      </router-link>

      <div class="navbar-nav navbar-center">
        <router-link v-if="showNavLink" :to="{name: 'ViewAll', params: {apiKey: this.apiKey}}">
          <a class="nav-item nav-link">
            <i class="fa fa-eye" aria-hidden="true"></i> View All
          </a>
        </router-link>

        <router-link v-if="showNavLink" :to="{name: 'AddPlanet', params: {apiKey: this.apiKey}}">
          <a class="nav-item nav-link">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
          </a>
        </router-link>

        <router-link v-if="showNavLink" :to="{name: 'DeletePlanet', params: {apiKey: this.apiKey}}">
          <a class="nav-item nav-link">
            <i class="fa fa-minus-circle" aria-hidden="true"></i> Delete
          </a>
        </router-link>
        <router-link v-if="showNavLink" :to="{name: 'UpdatePlanet', params: {apiKey: this.apiKey}}">
          <a class="nav-item nav-link">
            <i class="fa fa-wrench" aria-hidden="true"></i> Update
          </a>
        </router-link>

      </div>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "app",

  data() {
      return {
          apiKey: null,
          showNavLink: false,
      }
  },

  created: async function() {
        try {
        const resp = await axios
          .post("https://infinite-anchorage-90661.herokuapp.com/api/v1/auth/generate-key")
          .then(resp => resp.data);

        this.apiKey = resp.apiKey;
        this.showNavLink = true;

      } catch (error) {
        console.error(error);
      }

  }
};
</script>

<style>
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-nav.navbar-center > .nav-item.nav-link {
  padding-left: 2em;
  padding-right: 2em;
}
</style>